<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.badgers.rest.customer.cart.persistence.CartMapper">
	<!-- Auto-Increment의 다음 값을 반환한다 -->
	<select id="getCartIdx" resultType="int">
		SELECT `AUTO_INCREMENT`
			FROM INFORMATION_SCHEMA.TABLES
			WHERE TABLE_SCHEMA = 'honey_badgers' AND TABLE_NAME = 'cart'
	</select>
	
	<insert id="insertCart">
		insert into honey_badgers.cart
			(id, cust_id, quantity, unit_price, amount, kitchen_name, biz_name, menu_id, menu_name)
			values
			(#{id}, #{custId}, #{quantity}, #{unitPrice}, #{amount}, #{kitchenName}, #{bizName}, #{menuId}, #{menuName})
	</insert>
	
	<!-- Auto-Increment의 다음 값을 반환한다 -->
	<select id="getDetIdx" resultType="int">
		SELECT `AUTO_INCREMENT`
			FROM INFORMATION_SCHEMA.TABLES
			WHERE TABLE_SCHEMA = 'honey_badgers' AND TABLE_NAME = 'cart_detail'
	</select>
	
	<insert id="insertOption">
		insert into honey_badgers.cart_detail
			(id, cart_id, menu_opt_id, menu_id, menu_opt_name, menu_opt_price)
			values
			(#{id}, #{cartId}, #{menuOptId}, #{menuId}, #{menuOptName}, #{menuOptPrice})
	</insert>

	<select id="readCart" resultMap="cartVo">
		select 
			CA.id cartId
			, CA.cust_id custId
			, CA.quantity quantity
			, CA.unit_price unitPrice
			, CA.amount amount
			, CA.kitchen_name kitchenName
			, CA.biz_name bizName
			, CA.menu_id menuId
			, CA.menu_name menuName
			, DE.id detId
			, DE.cart_id detCartId
			, DE.menu_opt_id optId
			, DE.menu_id detMenuId
			, DE.menu_opt_name optName
			, DE.menu_opt_price optPrice
		from
			honey_badgers.cart CA
			, honey_badgers.cart_detail DE
		where CA.cust_id = #{custId} and CA.id = DE.cart_id
	</select>
	
	<!-- id="readCart"용 Result Maps 2개 -->
	 	<resultMap id="cartVo" type="org.badgers.rest.model.CartVOExtend">
			<result property="id" column="cartId" />
			<result property="custId" column="custId" />
			<result property="quantity" column="quantity" />
			<result property="unitPrice" column="unitPrice" />
			<result property="amount" column="amount" />
			<result property="kitchenName" column="kitchenName" />
			<result property="bizName" column="bizName" />
			<result property="menuId" column="menuId" />
			<result property="menuName" column="menuName" />
			<collection property="options" javaType="java.util.List" resultMap="detailVo"/>
		</resultMap>
	
		<resultMap id="detailVo" type="org.badgers.rest.model.CartDetailVO">
			<result property="id" column="detId"/>
			<result property="cartId" column="detCartId"/>
			<result property="menuOptId" column="optId"/>
			<result property="menuId" column="detMenuId"/>
			<result property="menuOptName" column="optName"/>
			<result property="menuOptPrice" column="optPrice"/> 
		</resultMap>

	<update id="updateCart">
		update honey_badgers.cart set quantity = #{quantity}, unit_price = #{unitPrice}, amount = #{amount} where id = #{id}
	</update>
	
	<delete id="deleteCart">
		delete from honey_badgers.cart where id = #{cartId}
	</delete>
	
	<delete id="deleteAllCart">
		delete from honey_badgers.cart where cust_id = #{custId}
	</delete>
	
	<delete id="deleteOptions">
		delete from honey_badgers.cart_detail where cart_id = #{cartId}
	</delete>
	
	<select id="readCartIds" resultType="String">
		select id from honey_badgers.cart where cust_id = #{custId} 
	</select>
</mapper>