<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="org.badgers.rest.customer.member.persistence.CustomerMapper">


	<!-- 회원 가입 -->
	<insert id="register"
		parameterType="org.badgers.rest.model.CustomerVO">

		insert into honey_badgers.customer
		(id, pw, name, birth_date, phone,
		email, gender)
		values
		(#{id},#{pw},#{name},#{birthDate},#{phone},#{email},#{gender})

	</insert>


	<!-- 로긴 -->
	<select id="selectById"
		resultType="org.badgers.rest.model.CustomerVO">
		select * from honey_badgers.customer where id = #{id}
	</select>


	<!-- 회원 정보 수정 -->
	<update id="modify">
		update honey_badgers.customer set pw = #{pw}, name = #{name}, email = #{email} where id = #{id}
	</update>


	<!-- 회원 정보 삭제 -->
	<update id="delete">
		update honey_badgers.customer set status= #{status} where id=#{id}
	</update>


</mapper>