<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="org.badgers.rest.customer.kitchen.persistence.KitchenMapper">

	<select id="kitchenbranchList"
		resultType="org.badgers.rest.model.KitchenBranchVo">
		select * from kitchen_branch
	</select>

	<select id="bizList" resultType="org.badgers.rest.model.BizVo">
		select * from biz
	</select>
	<resultMap id="MenuCatVo" type="org.badgers.rest.model.MenuCatVo">
		<result property="no" column="id"/>
		<result property="name" column="name"/>
		<result property="bizId" column="biz_id"/>
		<result property="bizId" column="idx"/>
	</resultMap>

 	<resultMap id="bizvo" type="org.badgers.rest.model.BizVo">
		<result property="bizId" column="biz_id" />
		<result property="info" column="info" />
		<result property="name" column="name" />
		<result property="likeCnt" column="like_Cnt" />
		<result property="minAmt" column="min_amt" />
		<result property="bizCatId" column="biz_cat_id" />
		<result property="kitchenId" column="kitchen_id" />
		<result property="idx" column="idx" />
		<collection property="menucatvo" resultMap="MenuCatVo"/>
	</resultMap>

	<select id="bizInfo" resultMap="bizvo">
		select * from biz
	</select>

</mapper>