<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="org.badgers.rest.customer.kitchen.persistence.KitchenMapper">

	<select id="kitchenbranchList" resultType="org.badgers.rest.model.KitchenBranchVOExtend">
		select
			id kitchenid
			, name kitchenname
			, address kitchenaddress
		from kitchen_branch
	</select>

	<select id="bizList" resultType="org.badgers.rest.model.BizVOExtend">
		select
			biz_id bizId
			, info bizInfo
			, name bizName
			, like_cnt bizLikeCnt
			, min_amt bizMinAmt
			, biz_cat_id bizCatId
			, kitchen_id bizKitchenId
			, biz_live_strm bizLiveStrm
			, idx bizIdx		
		from biz
	</select>
	
	<select id="menuList" resultType="org.badgers.rest.model.MenuVOExtend">
		select
			idx mCode
			, name mName
			, basic_price mBasicPrice
			, photo mPhoto
			, category_id menuCatCode
		from menu
	</select>
	
	<select id="bizCatList" resultType="org.badgers.rest.model.CommonCodeVO">
		select * from honey_badgers.common_code where id like 'STR%'
	</select>
	
	<resultMap id="MenuOptionEx" type="org.badgers.rest.model.MenuOptionVOExtend">
		<result property="moCode" column="moCode"/>
		<result property="moName" column="moName"/>
		<result property="moAddPrice" column="moAddPrice"/>
		<result property="moOptClNo" column="moOptClNo"/>
	</resultMap>
	
	 <resultMap id="MenuOptionClVoEx" type="org.badgers.rest.model.MenuOptionClVOExtend">
		<result property="mocNo" column="mocNo"/>
		<result property="mocName" column="mocName"/>
		<result property="mocMenuOptType" column="mocMenuOptType"/>
		<result property="mocMenuCode" column="mocMenuCode"/>
		<collection property="menuOptEx" javaType="java.util.ArrayList" resultMap="MenuOptionEx"/> 
	</resultMap>
	
 	<resultMap id="MenuVoEx" type="org.badgers.rest.model.MenuVOExtend">
		<result property="mCode" column="mCode"/>
		<result property="mName" column="mName"/>
		<result property="mBasicPrice" column="mBasicPrice"/>
		<result property="mPhoto" column="mPhoto"/>
		<result property="menuCatCode" column="menuCatCode"/>
		<collection property="menuOptCl" javaType="java.util.ArrayList" resultMap="MenuOptionClVoEx"/> 
	</resultMap>

	<resultMap id="MenuCatVoEx" type="org.badgers.rest.model.MenuCatVOExtend">
		<result property="mcNo" column="mcNo"/>
		<result property="mcName" column="mcName"/>
		<result property="mcBizId" column="mcBizId"/>
	 	<collection property="mcMenuVo" javaType="java.util.ArrayList" resultMap="MenuVoEx"/> 
	</resultMap>
	
 	<resultMap id="bizvo" type="org.badgers.rest.model.BizVOExtend">
		<result property="bizId" column="bizId" />
		<result property="bizInfo" column="bizInfo" />
		<result property="bizName" column="bizName" />
		<result property="bizLikeCnt" column="bizLikeCnt" />
		<result property="bizMinAmt" column="bizMinAmt" />
		<result property="bizCatId" column="bizCatId" />
		<result property="bizCatName" column="bizCatName" />
		<result property="bizKitchenId" column="bizKitchenId" />
		<result property="bizKitchenName" column="bizKitchenName" />
		<result property="bizLiveStrm" column="bizLiveStrm" />
		<result property="bizIdx" column="bizIdx" />
		<collection property="bizMenuCatVo" javaType="java.util.ArrayList" resultMap="MenuCatVoEx"/>
	</resultMap>

	<select id="bizInfo" resultMap="bizvo">
		select
			b.biz_id bizId,
			b.info bizInfo,
			b.name bizName,
			b.like_cnt bizLikeCnt,
			b.min_amt bizMinAmt,
			b.biz_cat_id bizCatId,
			cc.name bizCatName,
			b.kitchen_id bizKitchenId,
			kb.name bizKitchenName,
			b.biz_live_strm bizLiveStrm,
			b.idx bizIdx,
			
			mc.idx mcNo,
			mc.name mcName,
			mc.biz_id mcBizId,
			
			m.idx mCode,
			m.name mName,
			m.basic_price mBasicPrice,
			m.photo mPhoto,
			m.category_id menuCatCode,

			moc.idx mocNo,
			moc.name mocName,
			moc.menu_opt_type mocMenuOptType,
			moc.menu_id mocMenuCode,

			mo.idx moCode,
			mo.name moName,
			mo.add_price moAddPrice,
			mo.opt_cl_id moOptClNo
		
		from biz b left outer join menu_category mc
			on b.biz_id = mc.biz_id
			left outer join menu m
			on mc.idx = m.category_id
			left outer join menu_option_cl moc
			on m.idx = moc.menu_id
			left outer join menu_option mo
			on moc.idx = mo.opt_cl_id,
			common_code cc,
			kitchen_branch kb
		
		where b.biz_id=#{bizId}
			and b.biz_cat_id=cc.id
			and b.kitchen_id=kb.id
		
		order by mcNo asc, mocMenuOptType asc, mocName asc, moAddPrice desc, moName asc, mocMenuCode asc
	</select>
	
	<!-- 특정 키친 지점명으로 해당 지점의 가게 정보 읽기 (where 조건 제외하고는 id="bizInfo"와 같다) -->
	<select id="bizInfoByKitchen" resultMap="bizvo">
		select
			b.biz_id bizId, b.info bizInfo, b.name bizName, b.like_cnt bizLikeCnt, b.min_amt bizMinAmt, b.biz_cat_id bizCatId, cc.name bizCatName, b.kitchen_id bizKitchenId, kb.name bizKitchenName, b.biz_live_strm bizLiveStrm, b.idx bizIdx,
			mc.idx mcNo, mc.name mcName, mc.biz_id mcBizId,
			m.idx mCode, m.name mName, m.basic_price mBasicPrice, m.photo mPhoto, m.category_id menuCatCode,
			moc.idx mocNo, moc.name mocName, moc.menu_opt_type mocMenuOptType, moc.menu_id mocMenuCode,
			mo.idx moCode, mo.name moName, mo.add_price moAddPrice, mo.opt_cl_id moOptClNo
		from biz b left outer join menu_category mc on b.biz_id = mc.biz_id
			left outer join menu m on mc.idx = m.category_id
			left outer join menu_option_cl moc on m.idx = moc.menu_id
			left outer join menu_option mo on moc.idx = mo.opt_cl_id,
			common_code cc,
			kitchen_branch kb
		where b.kitchen_id=#{kitchenId} and b.biz_cat_id=cc.id and b.kitchen_id=kb.id
		order by mcNo asc, mocMenuOptType asc, mocName asc, moAddPrice desc, moName asc, mocMenuCode asc
	</select>
	
	<!-- 특정 메뉴명이나 옵션명으로 해당 메뉴나 옵션을 가진 가게 정보 읽기 (where 조건 제외하고는 id="bizInfo"와 같다) -->
	<select id="bizInfoByMenu" resultMap="bizvo">
		select
			b.biz_id bizId, b.info bizInfo, b.name bizName, b.like_cnt bizLikeCnt, b.min_amt bizMinAmt, b.biz_cat_id bizCatId, cc.name bizCatName, b.kitchen_id bizKitchenId, kb.name bizKitchenName, b.biz_live_strm bizLiveStrm, b.idx bizIdx,
			mc.idx mcNo, mc.name mcName, mc.biz_id mcBizId,
			m.idx mCode, m.name mName, m.basic_price mBasicPrice, m.photo mPhoto, m.category_id menuCatCode,
			moc.idx mocNo, moc.name mocName, moc.menu_opt_type mocMenuOptType, moc.menu_id mocMenuCode,
			mo.idx moCode, mo.name moName, mo.add_price moAddPrice, mo.opt_cl_id moOptClNo
		from biz b left outer join menu_category mc on b.biz_id = mc.biz_id
			left outer join menu m on mc.idx = m.category_id
			left outer join menu_option_cl moc on m.idx = moc.menu_id
			left outer join menu_option mo on moc.idx = mo.opt_cl_id,
			common_code cc,
			kitchen_branch kb
		where b.biz_cat_id=cc.id and b.kitchen_id=kb.id and (m.name = #{menuName} or mo.name = #{menuName})
		order by mcNo asc, mocMenuOptType asc, mocName asc, moAddPrice desc, moName asc, mocMenuCode asc
	</select>
	
	<select id="getCategorization" resultType="org.badgers.rest.model.CommonCodeVOExtend">
		select * from common_code where id like 'STR%'
	</select>
	
	<select id="getCatKitchen" resultType="org.badgers.rest.model.KitchenSelectCatVOExtend">
		select 
			b.biz_id bizId,
			b.info bizInfo,
			b.name bizName,
			b.like_cnt bizLikeCnt,
			b.biz_cat_id bizCatId,
			b.idx bizIdx,
			
			c.id comId,
			c.name comName,
			c.description comDisc,
			c.idx comIdx 
			
		from
			biz b,
			common_code c
		where
			c.id = b.biz_cat_id
			and c.name=#{menuCat}
	</select>
	
	<select id="getMenu" resultMap="MenuVoEx">
		select 
			m.idx mCode,
			m.name mName,
			m.basic_price mBasicPrice,
			m.photo mPhoto,
			m.category_id menuCatCode,
	    
			moc.idx mocNo,
			moc.name mocName,
			moc.menu_opt_type mocMenuOptType,
			moc.menu_id mocMenuCode,
	
			mo.idx moCode,
			mo.name moName,
			mo.add_price moAddPrice,
			mo.opt_cl_id moOptClNo
	    
		from
			menu m left outer join menu_option_cl moc
			on m.idx = moc.menu_id
			left outer join menu_option mo
			on moc.idx = mo.opt_cl_id
		where m.idx=#{mIdx};
	</select>
</mapper>